.members-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.members-text {
  display: inline-block;
  text-decoration: none;
}
.members-text01 {
  display: inline-block;
}
.members-text02 {
  display: inline-block;
  text-decoration: none;
}
.members-text03 {
  display: inline-block;
}
.members-text04 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.members-text05 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.members-text06 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.members-text07 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.members-text08 {
  display: inline-block;
}
.members-text09 {
  display: inline-block;
}
.members-text10 {
  display: inline-block;
}
.members-text11 {
  display: inline-block;
}
.members-text12 {
  display: inline-block;
}
.members-text13 {
  display: inline-block;
}
.members-text14 {
  display: inline-block;
}
.members-text15 {
  display: inline-block;
}
.members-text16 {
  display: inline-block;
  text-align: center;
}
.members-text17 {
  display: inline-block;
  text-align: center;
}
.members-text18 {
  display: inline-block;
  text-align: center;
}
.members-text19 {
  display: inline-block;
  text-align: center;
}
.members-text20 {
  display: inline-block;
  text-align: center;
}
.members-text21 {
  display: inline-block;
  text-align: center;
}
.members-text22 {
  display: inline-block;
}
.members-text23 {
  display: inline-block;
}
.members-text24 {
  display: inline-block;
}
.members-text25 {
  display: inline-block;
}
.members-text26 {
  display: inline-block;
}
.members-text27 {
  display: inline-block;
  text-align: left;
}
.members-text28 {
  display: inline-block;
}
.members-text29 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.members-text30 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.members-text31 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.members-text32 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.members-text33 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.members-text34 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.members-text35 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.members-text36 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.members-text37 {
  display: inline-block;
}
.members-text38 {
  display: inline-block;
}
.members-text41 {
  display: inline-block;
}
.members-text42 {
  display: inline-block;
  text-align: center;
}
.members-text43 {
  display: inline-block;
  text-align: center;
}
.members-text44 {
  display: inline-block;
  text-align: center;
}
.members-text45 {
  display: inline-block;
  text-align: center;
}
.members-text46 {
  display: inline-block;
  text-align: center;
}
.members-text47 {
  display: inline-block;
  text-align: center;
}
.members-text48 {
  display: inline-block;
  text-align: center;
}
.members-text49 {
  display: inline-block;
  text-align: center;
}
.members-text50 {
  display: inline-block;
}
.members-text51 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.members-text52 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
}
.members-text53 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
}
.members-text54 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-large);
  text-align: left;
}
.members-text55 {
  display: inline-block;
  overflow: hidden;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.members-text56 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.members-text57 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.members-text58 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.members-text59 {
  display: inline-block;
}
.members-text60 {
  display: inline-block;
}
.members-text61 {
  display: inline-block;
}
.members-text62 {
  display: inline-block;
}
.members-text63 {
  display: inline-block;
}
.members-text64 {
  display: inline-block;
}
.members-text65 {
  display: inline-block;
}
.members-text66 {
  display: inline-block;
}
.members-text67 {
  display: inline-block;
}
.members-text68 {
  display: inline-block;
}
.members-text69 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
@media(max-width: 767px) {
  .members-text20 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .members-text27 {
    text-align: center;
  }
  .members-text28 {
    text-align: center;
  }
  .members-text37 {
    text-align: center;
  }
  .members-text38 {
    text-align: center;
  }
}
