.faq4-faq12 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.faq4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-section-title {
  align-items: flex-start;
}
.faq4-list-item1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-list-item2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-list-item3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-list-item4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-list-item5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-list-item6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-list-item7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-list-item8 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-list-item9 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-list-item10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq4-text02 {
  display: inline-block;
}
.faq4-text03 {
  display: inline-block;
  text-align: center;
}
.faq4-text04 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-text05 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-text06 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-text07 {
  display: inline-block;
}
.faq4-text08 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-text09 {
  display: inline-block;
  text-align: center;
}
.faq4-text12 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-text13 {
  display: inline-block;
}
.faq4-text14 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-text15 {
  display: inline-block;
}
.faq4-text16 {
  display: inline-block;
}
.faq4-text17 {
  display: inline-block;
}
.faq4-text18 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-text19 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-text20 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq4-text21 {
  display: inline-block;
}
.faq4-text22 {
  display: inline-block;
}
.faq4-text23 {
  display: inline-block;
}
.faq4-text24 {
  display: inline-block;
}
.faq4-text25 {
  display: inline-block;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
@media(max-width: 767px) {
  .faq4-content {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .faq4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
